/* my first css */
/* propert and values */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

img{
    border: 10px solid cadetblue;
}

h1{
    border: 5px dotted cadetblue;
}

blockquote{
    font-family: Arial, 'Times New Roman', Times, serif;
    text-align: center ;
    font-size : 3rem;
    font-weight: lighter;
}

cite{
    font-size : 1rem;
}

section{
    font-weight:normal;
}
/* classes in css */ 

.bolder{
    font-weight: bold;
    font-size: 1.3rem;

}
.center{
    text-align: center;
    background-color: burlywood;
}

/* unvisited links */
a:link{
    text-decoration: None;
    font-weight:bold;
    color:darkseagreen;
}

a:visited{
    font-weight: normal;
    font-size: 1rem;
    color:chocolate;
}

a:hover{
    text-decoration: underline;
    background-color: black;
}

/* 
this is how id's are created in css and are rarely used these days  */
#id{
    font: optional;
    background-color: white;
}

div{
    border:2px solid black;
    margin-bottom: 1;    
}