/* my first css */
/* propert and values */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

img{
    border: 10px solid cadetblue;
}

h1{
    border: 5px dotted cadetblue;
}

blockquote{
    font-family: Arial, 'Times New Roman', Times, serif;
    text-align: center ;
    font-size : 3rem;
    font-weight: lighter;
}

cite{
    font-size : 1rem;
}

section{
    font-weight:normal;
}
/* classes in css */ 

.bolder{
    font-weight: bold;
    font-size: 1.3rem;

}
.center{
    text-align: center;
    background-color: burlywood;
}

/* unvisited links */
a:link{
    text-decoration: None;
    font-weight:bold;
    color:darkseagreen;
}

a:visited{
    font-weight: normal;
    font-size: 1rem;
    color:chocolate;
}

a:hover{
    text-decoration: underline;
    background-color: black;
}

/* 
this is how id's are created in css and are rarely used these days  */
#id{
    font: optional;
    background-color: white;
}

div{
    border:2px solid black;
    /* margin can be negative to create overlapping divs*/
    margin-top: 0;
    margin-bottom: 1;    
    padding-left: 1rem;
    width: 50%;
    background-color: beige;
    background-image: url();
}

nav{
    border: 5px dashed crimson;
    width: fit-content;
    border-radius :1em;
}
nav ul:hover{
    list-style-type: none;
    display: block;
    background-color: azure;
    border: 3px solid red;
}

nav li{
    border: 2px solid aquamarine;
    display: inline-block;
}

.floatleft{
    float:left;
    border: 5px solid brown;
    /* top right bottom left order  */
    /* unites can be mixed and matched */
    margin : 0 1rem 1rem 0;
    margin : 0 auto;    
    flex-wrap : row nowrap; 
    justify-content: flex-start; 
}

